{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/theme/static/css/main.css">
    <title>Login</title>
    {% load static %}
    {% tailwind_css %}
</head>
<body class="bg text-center bg-white dark:bg-slate-800 w-full h-full dark:text-white">
    <div class="container mx-auto mt-10 w-[90%] sm:w-[90%] md-w-[40%] xl:w-[50%] justify-center text-center px-4 bg-slate-200 dark:bg-slate-700 rounded-xl drop-shadow-2xl">
        <h1 class="text-5xl pt-5 pb-5">Login</h1>
        <div class="container mx-auto w-[90%]">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded text-2xl mt-5 mb-5">
                Login
            </button>
        </form>
        </div>
            
        <div class="text-2xl pb-5">
            <p>Don´t have an account? <a class="text-sky-600" href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
    
</body>
</html>
