{% extends 'layout.html' %}
{% block content %}    
    <div class="container mx-auto">
        <div class="text-5xl container mx-auto">
            <h1 class="text">My todo list</h1>
            <a href=" {%url 'task-create' %}">Create Task</a>
        </div>
        <div class="container mx-auto font-caveat text-2xl">
            <table class="table-fixed">
                <thead>
                    <tr>
                      <th>Task</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in Tasks %}
                    <tr>
                        <td class="text-2xl">{{task.title}}</td>
                        <td><a href="{% url 'task' task.id %}">View</a></td>
                        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                    </tr>
                    
                    {% empty %}
                        <h3>No items in list</h3>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}